body {
    background-image: url("images/mountains.jpg");

}

form {
    width: 500px;
    margin: auto;
    padding: 20px;
    background-color: rgba(76, 0, 130, 0.411);
    border: rgba(76, 0, 130) 2px solid;
    color: khaki;
}

input[type="text"] {
    border: 1px solid black;
}

button[type="submit"] {
    width: 75px;
    display: block;
    margin: 20px auto 0;
    text-align: center;
    padding: 3px 0;
    border: black 1px solid;
    border-radius: 5px;
    background-color: green;
    font-weight: 600;
}

button[type="submit"]:hover {
    background-color: rgb(4, 179, 4);
    cursor: pointer;
}