/* https://flexboxfroggy.com/#fr */

@import "reset.css";
@import "top-bar.css";

header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 100px);
    color: white;
    background-image: url("images/nature.jpg");
    background-attachment: fixed;
}

header card {
    background-color: rgba(37, 37, 37, 0.7);
    padding: 75px;
    border-radius: 30px;
}

main>h2 {
    margin: 50px;
}

section {
    padding: 20px;
}


#section-1 {
    background-color: #F0D7A1;
}


section h2 {
    margin-bottom: 20px;
}

section img {
    align-self: center;
    height: 200px;
    border: black solid 2px;
}

columns {
    display: flex;
    justify-content: space-around;
}

column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

section column {
    box-sizing: border-box;
    height: 500px;
    flex-basis: 25%;
    padding: 40px;
    background-color: cadetblue;
    border: teal solid 2px;

}

#section-2 {
    background-color: #aa9568;
}

#section-2 columns {
    flex-wrap: wrap;
    gap: 20px;
}

#section-2 columns box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
    background-color: #4381dd;
    border: #194381 solid 2px;
}

#section-2 columns box:nth-last-of-type(odd) {
    background-color: #194381;
    border: #4381dd solid 2px;
}